{% extends "layout.html" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
  
  
<section class="content">
    <div class="block-header">
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-6 align-right">
            </div>
          </div>
          <div class="body">

            <p> ERROR : Page Not Found </p>


          </div>
        </div>
      </div>
    </div>
</section>



{% endblock %}