{% extends "layout.html" %} {% block body %}



<section class="content">
    <div class="block-header">
        <h2>DASHBOARD</h2>
    </div>
    <!-- CPU Usage -->
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6 align-right">
                        </div>
                    </div>
                    <div class="body">

                        <ul>
                            <li><a href="https://startbootstrap.com/template-overviews/sb-admin/">SB-Admin, Helped with design.</a></li>
                            <li><a href="https://philas1.pages.op-bit.nz//Website-insights/">Blog I wrote on sites I liked.</a></li>
                            <li><a href="http://www.chartjs.org/">Awesome for building quick charts</a></li>
                            <li><a href="https://www.tableau.com/trial/data-visualization?utm_campaign_id=2017049&utm_campaign=Prospecting-CORE-ALL-ALL-ALL-ALL&utm_medium=Paid+Search&utm_source=Capterra&utm_language=EN&utm_country=USCA&kw=%7bkeyword%7d&adgroup=CTX-Data-Visualization&adused=%7bcreative%7d&matchtype=%7bmatchtype%7d&placement=%7bplacement%7d">See how far you can take an app like this</a></li>
                            <li><a href="https://www.instantatlas.com/">Good use of map data</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}