{% extends "layout.html" %}
{% block body %}
  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>



<section class="content">
    <div class="block-header">
      <h2>DASHBOARD</h2>
    </div>
    <!-- CPU Usage -->
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <div class="row clearfix">
              <div class="col-xs-12 col-sm-6 align-right">
            </div>
          </div>
          <div class="body">


  
{% endblock %}